<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ship Sinkers | Anthony Frialde</title>
  <link rel="icon" type="image/png" href="/static/img/battle-favicon.png">

  <style>
    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: #050816;
    }

    iframe {
      width: 100%;
      height: 100vh;
      border: none;
      display: block;
    }
  </style>
</head>
<body>
  <iframe
    src="https://cpsc-3750-battleship-final-project-phase2.onrender.com/"
    title="Ship Sinkers Phase 2">
  </iframe>
</body>
</html>